.container-header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-bottom: 15px;
}

.container-table {
   border: 1px solid rgba(0, 0, 0, 0.12);
   border-radius: 7px;
}

.container-content-table {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 40px;
}

.container-content-table-label {
   margin-top: 20px;
}

table {
   overflow: hidden;
   border-top-right-radius: 7px;
   border-top-left-radius: 7px;
}

th {
   background-color: #f7f7f7 !important;
}
