<div>
   <div class="container-header">
      <h2 class="display-1">Posts</h2>

      <button (click)="createPost()" color="primary" mat-flat-button>
         Novo post
      </button>
   </div>

   <div class="container-table">
      <table mat-table [dataSource]="posts">
         <!-- Id Column -->
         <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let post">{{ post.id }}</td>
         </ng-container>

         <!-- Title Column -->
         <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Título</th>
            <td mat-cell *matCellDef="let post">{{ post.title }}</td>
         </ng-container>

         <!-- Actions Column -->
         <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let post">
               <button (click)="editPost(post)" mat-icon-button>
                  <mat-icon>edit</mat-icon>
               </button>
               <button (click)="deletePost(post)" color="warn" mat-icon-button>
                  <mat-icon>delete</mat-icon>
               </button>
            </td>
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div *ngIf="loadingPosts" class="container-content-table">
         <mat-progress-spinner
            color="primary"
            mode="indeterminate"
            strokeWidth="4"
            diameter="80"
         >
         </mat-progress-spinner>

         <span class="container-content-table-label">Carregando...</span>
      </div>

      <div
         *ngIf="!loadingPosts && !posts.length"
         class="container-content-table"
      >
         <img src="assets/images/empty-folder.png" height="90" />

         <span class="container-content-table-label"
            >Nenhum dado encontrado...</span
         >
      </div>
   </div>
</div>
