<div class="container-dialog">
   <h2 *ngIf="!editing" class="display-1">Cadastrar post</h2>
   <h2 *ngIf="editing" class="display-1">Editar post</h2>

   <div class="container-inputs">
      <mat-form-field class="inputs-width" appearance="fill">
         <mat-label>Título</mat-label>
         <input matInput [(ngModel)]="data.title" />
      </mat-form-field>

      <mat-form-field class="inputs-width" appearance="fill">
         <mat-label>Descrição</mat-label>
         <textarea
            matInput
            [(ngModel)]="data.body"
            cdkTextareaAutosize
         ></textarea>
      </mat-form-field>
   </div>

   <div class="container-actions">
      <button (click)="onCancel()" class="button-actions" mat-button>
         Cancelar
      </button>

      <button
         *ngIf="!editing"
         [mat-dialog-close]="data"
         class="button-actions"
         color="primary"
         mat-flat-button
         cdkFocusInitial
      >
         Cadastrar
      </button>
      <button
         *ngIf="editing"
         [mat-dialog-close]="data"
         class="button-actions"
         color="primary"
         mat-flat-button
         cdkFocusInitial
      >
         Salvar
      </button>
   </div>
</div>
