html,
body {
   height: 100%;
}
body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
   display: block;
   height: 100%;
}

.display-1 {
   font-size: 1.4rem;
   font-weight: 600 !important;
   margin: 0px !important;
}
